openapi: 3.0.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: ZTNA Connector Restful API Specification
  license:
    name: Palo Alto Networks EULA
    url: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: ZTNA Connector Restful API
  version: v2
servers:
- description: ZTNA Connector API
  url: https://api.sase.paloaltonetworks.com/sse/connector/v2.0/api
security:
- bearerAuth: []
tags:
- description: Tenant management operations
  name: Tenant
  x-displayName: Tenant
- description: Connector Group management operations
  name: Connector-Group
  x-displayName: Connector Group
- description: Connector management operations
  name: Connector
  x-displayName: Connector
- description: FQDN Rules management operations
  name: FQDN
  x-displayName: FQDN
- description: Subnet management operations
  name: Subnet
  x-displayName: Subnet
- description: Wildcard management operations
  name: Wildcard
  x-displayName: Wildcard
- description: Discovered Application operations
  name: Discovered-Application
  x-displayName: Discovered Application
paths:
  /applications:
    get:
      operationId: ListApplications
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List FQDNs
      tags:
      - FQDN
    post:
      operationId: CreateApplications
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Create FQDN
      tags:
      - FQDN
  /applications/filters:
    get:
      description: |
        Get filter values for FQDN rule fields.
      operationId: ListApplicationFilters
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: String that represents a static filter field. Call any of the
          /filters endpoints without specifying a field to get a list of all available
          fields.
        explode: true
        in: query
        name: field
        required: false
        schema:
          example: connector_group
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                common:
                  $ref: '#/components/examples/filter'
                empty:
                  $ref: '#/components/examples/filter-empty'
              schema:
                $ref: '#/components/schemas/filters'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List FQDN Filters
      tags:
      - FQDN
  /applications/{oid}:
    delete:
      operationId: DeleteApplicationsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Delete FQDN
      tags:
      - FQDN
    get:
      operationId: GetApplicationsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get FQDN
      tags:
      - FQDN
    put:
      operationId: UpdateApplicationsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications'
        required: true
      responses:
        "200":
          description: |
            [200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)
          x-summary: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Update FQDN
      tags:
      - FQDN
  /connector-groups:
    get:
      operationId: ListConnectorGroups
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroupsListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Groups
      tags:
      - Connector-Group
    post:
      operationId: CreateConnectorGroup
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector_groups'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Create Connector Group
      tags:
      - Connector-Group
  /connector-groups/filters:
    get:
      description: |
        Get filter values for connector group fields.
      operationId: ListConnectorGroupFilters
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: String that represents a static filter field. Call any of the
          /filters endpoints without specifying a field to get a list of all available
          fields.
        explode: true
        in: query
        name: field
        required: false
        schema:
          example: connector_group
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                common:
                  $ref: '#/components/examples/filter'
                empty:
                  $ref: '#/components/examples/filter-empty'
              schema:
                $ref: '#/components/schemas/filters'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Group Filters
      tags:
      - Connector-Group
  /connector-groups/{oid}:
    delete:
      operationId: DeleteConnectorGroupByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Delete Connector Group
      tags:
      - Connector-Group
    get:
      operationId: GetConnectorGroupByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_groups'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Connector Group
      tags:
      - Connector-Group
    put:
      operationId: UpdateConnectorGroupByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector_groups'
        required: true
      responses:
        "200":
          description: |
            [200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)
          x-summary: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Update Connector Group
      tags:
      - Connector-Group
  /connector-groups/{oid}/applications:
    get:
      operationId: ListConnectorGroupApplications
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.fqdn_rules'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: List FQDNs per Connector Group
      tags:
      - Connector-Group
  /connector-groups/{oid}/connectors:
    get:
      operationId: ListConnectorGroupConnectors
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.connectors'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: List Connectors per Connector Group
      tags:
      - Connector-Group
  /connector-groups/{oid}/scheduled-upgrade:
    delete:
      operationId: DeleteConnectorGroupScheduledUpgrade
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Delete Connector Group Scheduled Upgrade
      tags:
      - Connector-Group
    get:
      operationId: GetConnectorGroupScheduledUpgrade
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.scheduled_upgrade'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Connector Group Scheduled Upgrade
      tags:
      - Connector-Group
    post:
      operationId: CreateConnectorGroupScheduledUpgrade
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector_group.scheduled_upgrade'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Create Connector Group Scheduled Upgrade
      tags:
      - Connector-Group
    put:
      operationId: UpdateConnectorGroupScheduledUpgrade
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector_group.scheduled_upgrade'
        required: true
      responses:
        "204":
          description: |
            [204 No Content](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204)
          x-summary: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Update Connector Group Scheduled Upgrade
      tags:
      - Connector-Group
  /connector-groups/{oid}/scheduled-upgrade-status:
    get:
      description: "Retrieves the scheduled upgrade status for a connector group,\
        \ including the upgrade status of all connectors in the group"
      operationId: GetConnectorGroupScheduledUpgradeStatus
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.upgrade_status'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Connector Group Scheduled Upgrade Status
      tags:
      - Connector-Group
  /connector-groups/{oid}/subnets:
    get:
      operationId: ListConnectorGroupSubnets
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.subnet_rules'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: List Subnets per Connector Group
      tags:
      - Connector-Group
  /connector-groups/{oid}/wildcards:
    get:
      operationId: ListConnectorGroupWildcards
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector_group.wildcards'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: List Wildcards per Connector Group
      tags:
      - Connector-Group
  /connector-images:
    get:
      operationId: ListConnectorImages
      parameters:
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorImagesListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Image Versions
      tags:
      - Connector
  /connectors:
    get:
      operationId: ListConnectors
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connectors
      tags:
      - Connector
    post:
      operationId: CreateConnectors
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectors'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Create Connector
      tags:
      - Connector
  /connectors/filters:
    get:
      description: |
        Get filter values for connector fields.
      operationId: ListConnectorFilters
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: String that represents a static filter field. Call any of the
          /filters endpoints without specifying a field to get a list of all available
          fields.
        explode: true
        in: query
        name: field
        required: false
        schema:
          example: connector_group
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                common:
                  $ref: '#/components/examples/filter'
                empty:
                  $ref: '#/components/examples/filter-empty'
              schema:
                $ref: '#/components/schemas/filters'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Filters
      tags:
      - Connector
  /connectors/{oid}:
    delete:
      operationId: DeleteConnectorsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Delete Connector
      tags:
      - Connector
    get:
      operationId: GetConnectorsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connectors'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Connector
      tags:
      - Connector
    put:
      operationId: UpdateConnectorsByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectors'
        required: true
      responses:
        "200":
          description: |
            [200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)
          x-summary: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Update Connector
      tags:
      - Connector
  /connectors/{oid}/pcaps:
    get:
      description: |-
        This API is used to get the list of captured packet files on the ZTNA connector.
        The result is an array of file information objects.
        Each file information object has id, state, date, name and size of the file.
      operationId: ListConnectorsPcapsByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagnostic_file.list'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Packet Capture Files
      tags:
      - Connector
    post:
      description: This API will start a packet capture operation on the ZTNA connector.
        The Interface information must be provided in the API.
      operationId: CreateConnectorsPcapsByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packet_capture.create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packet_capture'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Start Connector Packet Capture
      tags:
      - Connector
  /connectors/{oid}/pcaps/{id}:download:
    get:
      description: This API downloads the captured packet file from the ZTNA connector.
      operationId: DownloadConnectorsPcapsByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: request id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Download Connector Packet Capture File
      tags:
      - Connector
  /connectors/{oid}/pcaps/{id}:stop:
    post:
      description: This API will stop an in-progress packet capture operation on the
        ZTNA connector.
      operationId: StopConnectorsPcapsByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: request id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packet_capture'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Stop Connector Packet Capture
      tags:
      - Connector
  /connectors/{oid}/quiesce:
    get:
      operationId: GetConnectorsQuiesceByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.quiesce'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "424":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Failed Dependency
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Server Error
      summary: Get Connector Quiesce State
      tags:
      - Connector
    put:
      operationId: UpdateConnectorsQuiesceByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.quiesce'
        required: true
      responses:
        "204":
          description: |
            [204 No Content](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204)
          x-summary: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "424":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Failed Dependency
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Server Error
      summary: Update Connector Quiesce State
      tags:
      - Connector
  /connectors/{oid}/scheduled-upgrade:
    delete:
      operationId: DeleteConnectorsScheduledUpgradeByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Delete Connector Scheduled Upgrade
      tags:
      - Connector
    get:
      operationId: GetConnectorsScheduledUpgradeByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.scheduled_upgrade'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Connector Scheduled Upgrade
      tags:
      - Connector
    post:
      operationId: CreateConnectorsScheduledUpgradeByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.scheduled_upgrade'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Create Connector Scheduled Upgrade
      tags:
      - Connector
    put:
      operationId: UpdateConnectorsScheduledUpgradeByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.scheduled_upgrade'
        required: true
      responses:
        "204":
          description: |
            [204 No Content](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204)
          x-summary: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Update Connector Scheduled Upgrade
      tags:
      - Connector
  /connectors/{oid}/scheduled-upgrade-status:
    get:
      description: Retrieves the detailed scheduled upgrade status for a specific
        connector
      operationId: GetConnectorsScheduledUpgradeStatusByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.upgrade_status'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Server Error
      summary: Get Connector Scheduled Upgrade Status
      tags:
      - Connector
  /connectors/{oid}/tech-support-files:
    get:
      description: |-
        This API is used to get the list the available "dump tech-support" data files on the ZTNA connector.
        The result is an array of file information objects.
        Each file information object has id, state, date, name and size of the file.
      operationId: ListConnectorsTechSupportFilesByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagnostic_file.list'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Connector Tech Support Files
      tags:
      - Connector
    post:
      description: |-
        This API will start a tech support operation on the ZTNA connector.
        In the current implementation it uses the "dump tech-support" command to generate the data.
      operationId: CreateConnectorsTechSupportFilesByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Start Connector Tech Support Generation
      tags:
      - Connector
  /connectors/{oid}/tech-support-files/{id}:download:
    get:
      description: This API downloads a tech support file from the ZTNA connector.
      operationId: DownloadConnectorsTechSupportFilesByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: request id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Download Connector Tech Support File
      tags:
      - Connector
  /connectors/{oid}/tech-support-files/{id}:stop:
    post:
      description: This API will stop an in-progress tech support operation on the
        ZTNA connector.
      operationId: StopConnectorsTechSupportFilesByID
      parameters:
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: request id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: Stop Connector Tech Support Generation
      tags:
      - Connector
  /discovered-applications:
    get:
      operationId: ListDiscoveredApplications
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredApplicationsListResponse'
          description: OK
        "202":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)

            The request has been accepted for processing, but the processing has not been completed.
            The client should retry the request after the time specified in the Retry-After header.
          headers:
            Retry-After:
              description: Indicates how long the client should wait before making
                a follow-up request
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
          x-summary: Accepted - Retry After
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Discovered Applications
      tags:
      - Discovered-Application
  /discovered-applications/filters:
    get:
      description: |
        Get filter values for discovered application fields.
      operationId: ListDiscoveredApplicationFilters
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: String that represents a static filter field. Call any of the
          /filters endpoints without specifying a field to get a list of all available
          fields.
        explode: true
        in: query
        name: field
        required: false
        schema:
          example: connector_group
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                common:
                  $ref: '#/components/examples/filter'
                empty:
                  $ref: '#/components/examples/filter-empty'
              schema:
                $ref: '#/components/schemas/filters'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Discovered Application Filters
      tags:
      - Discovered-Application
  /license:
    get:
      operationId: GetLicense
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/license'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "424":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Failed Dependency
      summary: Get Tenant License Info
      tags:
      - Tenant
  /subnets:
    get:
      operationId: ListSubnets
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: |
          A 0-based offset into the collection.
          It is the index of the starting entry of the page
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The max count in result entry (count per page)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: List of fields from item response to sort by.
        examples:
          threeItems:
            summary: "An example sort list that sorts first by A in ascending order,\
              \ then B in descending order, and finally C in ascending order."
            value: "A[asc],B[desc],C"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      - description: String to filter list results by searching one specified field
          of an object. Multiple filters can be specified.
        examples:
          freeFormFilter:
            summary: A free form filter on the field name searching for a substring
              match of abc.
            value: "{\"field\":\"name\",\"search\":\"abc\"}"
          staticFilter:
            summary: A static filter on the field connector_group searching for an
              exact match of abc.
            value: "{\"field\":\"connector_group\",\"filter\":\"abc\"}"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetsListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Subnets
      tags:
      - Subnet
    post:
      operationId: CreateSubnet
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subnets'
        required: true
      responses:
        "201":
          description: |
            [201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)
          x-summary: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Create Subnet
      tags:
      - Subnet
  /subnets/filters:
    get:
      description: |
        Get filter values for subnet rule fields.
      operationId: ListSubnetFilters
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: String that represents a static filter field. Call any of the
          /filters endpoints without specifying a field to get a list of all available
          fields.
        explode: true
        in: query
        name: field
        required: false
        schema:
          example: connector_group
          type: string
        style: form
      - description: String to filter list results by. Is searched over multiple fields
          in each object. Multiple searches can be specified.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: connector1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                common:
                  $ref: '#/components/examples/filter'
                empty:
                  $ref: '#/components/examples/filter-empty'
              schema:
                $ref: '#/components/schemas/filters'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
      summary: List Subnet Filters
      tags:
      - Subnet
  /subnets/{oid}:
    delete:
      operationId: DeleteSubnetByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: |
            [202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)
          x-summary: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Conflict
      summary: Delete Subnet
      tags:
      - Subnet
    get:
      operationId: GetSubnetByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnets'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: Not Found
      summary: Get Subnet
      tags:
      - Subnet
    put:
      operationId: UpdateSubnetByID
      parameters:
      - description: The region of the tenant
        explode: false
        in: header
        name: x-panw-region
        required: false
        schema:
          enum:
          - ae
          - americas
          - au
          - br
          - ca
          - ch
          - cn
          - de
          - es
          - europe
          - fr
          - id
          - il
          - in
          - it
          - jp
          - kr
          - pl
          - qa
          - sa
          - sg
          - tw
          - uk
          - za
          type: string
        style: simple
      - description: Object ID
        explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
[...]
