openapi: 3.0.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used for defining and managing security services configurations
    within Strata Cloud Manager.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Security Services
  version: 2.0.0
servers:
- description: Current
  url: https://api.strata.paloaltonetworks.com/config/security/v1
- description: Legacy
  url: https://api.sase.paloaltonetworks.com/sse/config/v1
security:
- scmToken: []
tags:
- description: Anti-Spyware Profiles
  name: Anti-Spyware Profiles
- description: Anti-Spyware Signatures
  name: Anti-Spyware Signatures
- description: Application Override Rules
  name: Application Override Rules
- description: Decryption Exclusions
  name: Decryption Exclusions
- description: Decryption Profiles
  name: Decryption Profiles
- description: Decryption Rules
  name: Decryption Rules
- description: DNS Security Profiles
  name: DNS Security Profiles
- description: DoS Protection Profiles
  name: DoS Protection Profiles
- description: DoS Protection Rules
  name: DoS Protection Rules
- description: File Blocking Profiles
  name: File Blocking Profiles
- description: HTTP Header Profiles
  name: HTTP Header Profiles
- description: Profile Groups
  name: Profile Groups
- description: Security Rules
  name: Security Rules
- description: URL Access Profiles
  name: URL Access Profiles
- description: URL Categories
  name: URL Categories
- description: Predefined URL categories
  name: URL Filtering Categories
- description: Vulnerability Protection Profiles
  name: Vulnerability Protection Profiles
- description: Vulnerability Protection Signatures
  name: Vulnerability Protection Signatures
- description: WildFire Anti-Virus Profiles
  name: WildFire Anti-Virus Profiles
- description: Saas Tenant Restrictions
  name: Saas Tenant Restrictions
paths:
  /anti-spyware-profiles:
    get:
      description: |
        Retrieve a list of anti-spyware profiles.
      operationId: ListAntiSpywareProfiles
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiSpywareProfilesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List anti-spyware profiles
      tags:
      - Anti-Spyware Profiles
    post:
      description: |
        Create a new anti-spyware profile.
      operationId: CreateAntiSpywareProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anti-spyware-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-profiles'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an anti-spyware profile
      tags:
      - Anti-Spyware Profiles
  /anti-spyware-profiles/{id}:
    delete:
      description: |
        Delete an anti-spyware profile.
      operationId: DeleteAntiSpywareProfilesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an anti-spyware profile
      tags:
      - Anti-Spyware Profiles
    get:
      description: |
        Get an existing anti-spyware profile.
      operationId: GetAntiSpywareProfilesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-profiles'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an anti-spyware profile
      tags:
      - Anti-Spyware Profiles
    put:
      description: |
        Update an existing anti-spyware profile.
      operationId: UpdateAntiSpywareProfilesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anti-spyware-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-profiles'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an anti-spyware profile
      tags:
      - Anti-Spyware Profiles
  /anti-spyware-signatures:
    get:
      description: |
        Retrieve a list of anti-spyware signatures.
      operationId: ListAntiSpywareSignatures
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiSpywareSignaturesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List anti-spyware signatures
      tags:
      - Anti-Spyware Signatures
    post:
      description: |
        Create a new anti-spyware signature.
      operationId: CreateAntiSpywareSignatures
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anti-spyware-signatures'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-signatures'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an anti-spyware signature
      tags:
      - Anti-Spyware Signatures
  /anti-spyware-signatures/{id}:
    delete:
      description: |
        Delete an anti-spyware signature.
      operationId: DeleteAntiSpywareSignaturesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an anti-spyware signature
      tags:
      - Anti-Spyware Signatures
    get:
      description: |
        Get an existing anti-spyware signature.
      operationId: GetAntiSpywareSignaturesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-signatures'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an anti-spyware signature
      tags:
      - Anti-Spyware Signatures
    put:
      description: |
        Update an existing anti-spyware signature.
      operationId: UpdateAntiSpywareSignaturesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anti-spyware-signatures'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anti-spyware-signatures'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an anti-spyware signature
      tags:
      - Anti-Spyware Signatures
  /app-override-rules:
    get:
      description: |
        Retrieve a list of application override rules.
      operationId: ListApplicationOverrideRules
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The position of a security rule
        explode: true
        in: query
        name: position
        required: true
        schema:
          default: pre
          enum:
          - pre
          - post
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOverrideRulesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List application override rules
      tags:
      - Application Override Rules
    post:
      description: |
        Create a new application override rule.
      operationId: CreateApplicationOverrideRules
      parameters:
      - description: |
          The position of a security rule
        explode: true
        in: query
        name: position
        required: true
        schema:
          default: pre
          enum:
          - pre
          - post
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app-override-rules'
        description: Created
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app-override-rules'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an application override rule
      tags:
      - Application Override Rules
  /app-override-rules/{id}:
    delete:
      description: |
        Delete an application override rule.
      operationId: DeleteApplicationOverrideRulesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an application override rule
      tags:
      - Application Override Rules
    get:
      description: |
        Get an existing application override rule.
      operationId: GetApplicationOverrideRulesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app-override-rules'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an application override rule
      tags:
      - Application Override Rules
    put:
      description: |
        Update an existing application override rule.
      operationId: UpdateApplicationOverrideRulesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app-override-rules'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app-override-rules'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an application override rule
      tags:
      - Application Override Rules
  /app-override-rules/{id}:move:
    post:
      description: |
        Move an existing application override rule.
      operationId: MoveApplicationOverrideRulesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-based-move'
        description: The app override rule you want to move
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Move an application override rule
      tags:
      - Application Override Rules
  /decryption-exclusions:
    get:
      description: |
        Retrieve a list of decryption exclusions.
      operationId: ListDecryptionExclusions
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptionExclusionsListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List decryption exclusions
      tags:
      - Decryption Exclusions
    post:
      description: |
        Create a new decryption exclusion.
      operationId: CreateDecryptionExclusions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryption-exclusions'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryption-exclusions'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create a decryption exclusion
      tags:
      - Decryption Exclusions
  /decryption-exclusions/{id}:
    delete:
      description: |
        Delete a decryption exclusion.
      operationId: DeleteDecryptionExclusionsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete a decryption exclusion
      tags:
      - Decryption Exclusions
    get:
      description: |
        Get an existing decryption exclusion.
      operationId: GetDecryptionExclusionsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryption-exclusions'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get a decryption exclusion
      tags:
      - Decryption Exclusions
    put:
      description: |
        Update an existing decryption exclusion.
      operationId: UpdateDecryptionExclusionsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryption-exclusions'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryption-exclusions'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update a decryption exclusion
      tags:
      - Decryption Exclusions
  /decryption-profiles:
    get:
      description: |
        Retrieve a list of decryption profiles.
      operationId: ListDecryptionProfiles
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptionProfilesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
[...]
