openapi: 3.0.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used for defining and managing policy object configurations
    within Strata Cloud Manager.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Objects
  version: 2.0.0
servers:
- description: Current
  url: https://api.strata.paloaltonetworks.com/config/objects/v1
- description: Legacy
  url: https://api.sase.paloaltonetworks.com/sse/config/v1
security:
- scmToken: []
tags:
- description: Address Groups
  name: Address Groups
- description: Addresses
  name: Addresses
- description: Application Filters
  name: Application Filters
- description: Application Groups
  name: Application Groups
- description: Applications
  name: Applications
- description: Auto-Tag Actions
  name: Auto-Tag Actions
- description: Dynamic User Groups
  name: Dynamic User Groups
- description: External Dynamic Lists
  name: External Dynamic Lists
- description: HIP Objects
  name: HIP Objects
- description: HIP Profiles
  name: HIP Profiles
- description: HTTP Server Profiles
  name: HTTP Server Profiles
- description: Log Forwarding Profiles
  name: Log Forwarding Profiles
- description: Quarantined Devices
  name: Quarantined Devices
- description: Regions
  name: Regions
- description: Schedules
  name: Schedules
- description: Service Groups
  name: Service Groups
- description: Services
  name: Services
- description: Syslog Server Profiles
  name: Syslog Server Profiles
- description: Tags
  name: Tags
paths:
  /address-groups:
    get:
      description: |
        Retrieve a list of address groups.
      operationId: ListAddressGroups
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressGroupsListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List address groups
      tags:
      - Address Groups
    post:
      description: |
        Create a new address group.
      operationId: CreateAddressGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address-groups'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an address group
      tags:
      - Address Groups
  /address-groups/{id}:
    delete:
      description: |
        Delete an address group.
      operationId: DeleteAddressGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an address group
      tags:
      - Address Groups
    get:
      description: |
        Retrieve an existing address group.
      operationId: GetAddressGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an address group
      tags:
      - Address Groups
    put:
      description: |
        Update an existing address group.
      operationId: UpdateAddressGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address-groups'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an address group
      tags:
      - Address Groups
  /addresses:
    get:
      description: |
        Retrieve a list of addresses.
      operationId: ListAddresses
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List addresses
      tags:
      - Addresses
    post:
      description: |
        Create a new address.
      operationId: CreateAddresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addresses'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an address
      tags:
      - Addresses
  /addresses/{id}:
    delete:
      description: |
        Delete an address.
      operationId: DeleteAddressesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an address
      tags:
      - Addresses
    get:
      description: |
        Retrieve an existing address.
      operationId: GetAddressesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an address
      tags:
      - Addresses
    put:
      description: |
        Update an existing address.
      operationId: UpdateAddressesByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addresses'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an address
      tags:
      - Addresses
  /application-filters:
    get:
      description: |
        Retrieve a list of application filters.
      operationId: ListApplicationFilters
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFiltersListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List application filters
      tags:
      - Application Filters
    post:
      description: |
        Create a new application filter.
      operationId: CreateApplicationFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application-filters'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-filters'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an application filter
      tags:
      - Application Filters
  /application-filters/{id}:
    delete:
      description: |
        Delete an application filter.
      operationId: DeleteApplicationFiltersByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an application filter
      tags:
      - Application Filters
    get:
      description: |
        Get an existing application filter.
      operationId: GetApplicationFiltersByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-filters'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an application filter
      tags:
      - Application Filters
    put:
      description: |
        Update an existing application filter.
      operationId: UpdateApplicationFiltersByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application-filters'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-filters'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an application filter
      tags:
      - Application Filters
  /application-groups:
    get:
      description: |
        Retrieve a list of application groups.
      operationId: ListApplicationGroups
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroupsListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List application groups
      tags:
      - Application Groups
    post:
      description: |
        Create a new application group.
      operationId: CreateApplicationGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application-groups'
        description: Created
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create an application group
      tags:
      - Application Groups
  /application-groups/{id}:
    delete:
      description: |
        Delete an application group.
      operationId: DeleteApplicationGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete an application group
      tags:
      - Application Groups
    get:
      description: |
        Get an existing application group.
      operationId: GetApplicationGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get an application group
      tags:
      - Application Groups
    put:
      description: |
        Update an existing application group.
      operationId: UpdateApplicationGroupsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application-groups'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application-groups'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update an application group
      tags:
      - Application Groups
  /applications:
    get:
      description: |
        Retrieve a list of applications.
      operationId: ListApplications
      parameters:
      - description: The name of the configuration resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      - description: The offset into the list of results returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List applications
      tags:
      - Applications
    post:
      description: |
        Create a new application.
      operationId: CreateApplications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
[...]
