openapi: 3.0.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used for defining and managing device configurations
    within Strata Cloud Manager.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Device Settings
  version: 2.0.0
servers:
- description: Production
  url: https://api.strata.paloaltonetworks.com/config/device/v1
security:
- scmToken: []
tags:
- description: Authentication Settings
  name: Authentication Settings
- description: Content-ID Settings
  name: Content-ID Settings
- description: Device Redistribution Collector Settings
  name: Device Redistribution Collector Settings
- description: General Settings
  name: General Settings
- description: High Availability Configurations
  name: High Availability Configurations
- description: High Availability Devices
  name: High Availability Devices
- description: Login Banner Settings
  name: Login Banner Settings
- description: Management Interface Settings
  name: Management Interface Settings
- description: Service Route Settings
  name: Service Route Settings
- description: Services Settings
  name: Service Settings
- description: Session Settings
  name: Session Settings
- description: Session Timeouts Settings
  name: Session Timeouts Settings
- description: TCP Settings
  name: TCP Settings
- description: Update Schedule Settings
  name: Update Schedule Settings
- description: VPN Settings
  name: VPN Settings
paths:
  /authentication-settings:
    get:
      description: |
        Retrieve a list of device authentication settings.
      operationId: ListAuthenticationSettings
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/authentication-settings'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List authentication settings
      tags:
      - Authentication Settings
    post:
      description: |
        Create new device authentication settings.
      operationId: CreateAuthenticationSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentication-settings'
          description: Created
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create authentication settings
      tags:
      - Authentication Settings
  /authentication-settings/{id}:
    delete:
      description: |
        Delete the device authentication settings.
      operationId: DeleteAuthenticationSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete authentication settings
      tags:
      - Authentication Settings
    get:
      description: |
        Retrieve existing device authentication settings.
      operationId: GetAuthenticationSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentication-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get existing authentication settings
      tags:
      - Authentication Settings
    put:
      description: |
        Update the device authentication settings.
      operationId: UpdateAuthenticationSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentication-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update authentication settings
      tags:
      - Authentication Settings
  /content-id-settings:
    get:
      description: |
        Retrieve a list of Content-ID settings.
      operationId: ListContentIDSettings
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/content-id-settings'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List Content-ID settings
      tags:
      - Content-ID Settings
    post:
      description: |
        Create new Content-ID settings.
      operationId: CreateContentIDSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/content-id-settings'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content-id-settings'
          description: Created
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create Content-ID settings
      tags:
      - Content-ID Settings
  /content-id-settings/{id}:
    delete:
      description: |
        Delete the Content-ID settings.
      operationId: DeleteContentIDSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete Content-ID settings
      tags:
      - Content-ID Settings
    get:
      description: |
        Retrieve existing Content-ID settings.
      operationId: GetContentIDSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content-id-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get existing Content-ID settings
      tags:
      - Content-ID Settings
    put:
      description: |
        Update the Content-ID settings.
      operationId: UpdateContentIDSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/content-id-settings'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content-id-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update Content-ID settings
      tags:
      - Content-ID Settings
  /device-redistribution-collector:
    get:
      description: |
        Retrieve a list of device redistribution collector settings.
      operationId: ListDeviceRedistributionCollectorSettings
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/device-redistribution-collector'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List device redistribution collector settings
      tags:
      - Device Redistribution Collector Settings
    post:
      description: Create new device redistribution collector settings.
      operationId: CreateDeviceRedistributionCollectorSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-redistribution-collector'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device-redistribution-collector'
          description: Created
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create device redistribution collector settings
      tags:
      - Device Redistribution Collector Settings
  /device-redistribution-collector/{id}:
    delete:
      description: |
        Delete the device redistribution collector settings.
      operationId: DeleteDeviceRedistributionCollectorSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete device redistribution collector settings
      tags:
      - Device Redistribution Collector Settings
    get:
      description: |
        Retrieve existing device redistribution collector settings.
      operationId: GetDeviceRedistributionCollectorSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device-redistribution-collector'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get existing device redistribution collector settings
      tags:
      - Device Redistribution Collector Settings
    put:
      description: |
        Update the device redistribution collector settings.
      operationId: UpdateDeviceRedistributionCollectorSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-redistribution-collector'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device-redistribution-collector'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update device redistribution collector settings
      tags:
      - Device Redistribution Collector Settings
  /general-settings:
    get:
      description: |
        Retrieve a list of general settings.
      operationId: ListGeneralSettings
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/general-settings'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List general settings
      tags:
      - General Settings
    post:
      description: |
        Create new general settings.
      operationId: CreeateGeneralSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-settings'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general-settings'
          description: Created
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create general settings
      tags:
      - General Settings
  /general-settings/{id}:
    delete:
      description: |
        Delete the general settings.
      operationId: DeleteGeneralSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete general settings
      tags:
      - General Settings
    get:
      description: |
        Retrieve existing general settings.
      operationId: GetGeneralSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get existing general settings
      tags:
      - General Settings
    put:
      description: |
        Update the device redistribution collector settings.
      operationId: UpdateGeneralSettingsByID
      parameters:
      - description: The UUID of the configuration resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-settings'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general-settings'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update general settings
      tags:
      - General Settings
  /ha-devices:
    get:
      description: |
        Retrieve a list of high availability devices.
      operationId: ListHADevices
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHADevices_200_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List high availability devices
      tags:
      - High Availability Devices
  /management-interface:
    get:
      description: |
        Retrieve a list of management interface settings.
      operationId: ListManagementInterfaceSettings
      parameters:
      - description: |
          The folder in which the resource is defined
        explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: |
          The snippet in which the resource is defined
        explode: true
        in: query
        name: snippet
        required: false
        schema:
          type: string
        style: form
      - description: |
          The device in which the resource is defined
        explode: true
        in: query
        name: device
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/management-interface'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
[...]
