openapi: 3.1.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used for defining and managing network services configuration
    within Strata Cloud Manager.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Network Services
  version: 2.0.0
servers:
- description: Current
  url: https://api.strata.paloaltonetworks.com/config/network/v1
- description: Legacy
  url: https://api.sase.paloaltonetworks.com/sse/config/v1
security:
- scmToken: []
tags:
- description: Aggregate Interfaces
  name: Aggregate Interfaces
- description: Auto VPN Clusters
  name: Auto VPN Clusters
- description: Auto VPN Config Push
  name: Auto VPN Config Push
- description: Auto VPN Monitor
  name: Auto VPN Monitor
- description: Auto VPN Settings
  name: Auto VPN Settings
- description: BGP Address Family Profiles
  name: BGP Address Family Profiles
- description: BGP Authentication Profiles
  name: BGP Authentication Profiles
- description: BGP Filtering Profiles
  name: BGP Filtering Profiles
- description: BGP Redistribution Profiles
  name: BGP Redistribution Profiles
- description: BGP Route Map Redistributions
  name: BGP Route Map Redistributions
- description: BGP Route Maps
  name: BGP Route Maps
- description: DHCP Interfaces
  name: DHCP Interfaces
- description: DNS Proxies
  name: DNS Proxies
- description: Ethernet Interfaces
  name: Ethernet Interfaces
- description: IKE Crypto Profiles
  name: IKE Crypto Profiles
- description: IKE Gateways
  name: IKE Gateways
- description: Interface Management Profiles
  name: Interface Management Profiles
- description: IPsec Crypto Profiles
  name: IPsec Crypto Profiles
- description: IPsec Tunnels
  name: IPsec Tunnels
- description: Layer 3 Subinterfaces
  name: Layer 2 Subinterfaces
- description: Layer 3 Subinterfaces
  name: Layer 3 Subinterfaces
- description: Link Tags
  name: Link Tags
- description: Logical Routers
  name: Logical Routers
- description: Loopback Interfaces
  name: Loopback Interfaces
- description: NAT Rules
  name: NAT Rules
- description: OSPF Authentication Profiles
  name: OSPF Authentication Profiles
- description: PBF Rules
  name: PBF Rules
- description: QoS Profiles
  name: QoS Profiles
- description: QoS Rules
  name: QoS Rules
- description: Route Access Lists
  name: Route Access Lists
- description: Route Community Lists
  name: Route Community Lists
- description: Route Path Access Lists
  name: Route Path Access Lists
- description: Route Prefix Lists
  name: Route Prefix Lists
- description: SD-WAN Error Correction Profiles
  name: SD-WAN Error Correction Profiles
- description: SD-WAN Path Quality Profiles
  name: SD-WAN Path Quality Profiles
- description: SD-WAN Rules
  name: SD-WAN Rules
- description: SD-WAN SaaS Quality Profiles
  name: SD-WAN SaaS Quality Profiles
- description: SD-WAN Traffic Distribution Profiles
  name: SD-WAN Traffic Distribution Profiles
- description: Security Zones
  name: Security Zones
- description: Tunnel Interfaces
  name: Tunnel Interfaces
- description: VLAN Interfaces
  name: VLAN Interfaces
- description: Zone Protection Profiles
  name: Zone Protection Profiles
- description: Ssl Decrypt
  name: Ssl Decryption Settings
- description: Remote Networks License Info
  name: Remote Networks License
paths:
  /aggregate-interfaces:
    get:
      description: |
        Retrieve a list of Aggregate Interfaces.
      operationId: ListAggregateInterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateInterfacesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List Aggregate Interfaces
      tags:
      - Aggregate Interfaces
    post:
      description: |
        Create a new Aggregate Interface.
      operationId: CreateAggregateInterfaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aggregate-interfaces'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an Aggregate Interface
      tags:
      - Aggregate Interfaces
  /aggregate-interfaces/{id}:
    delete:
      description: |
        Delete an Aggregate Interface.
      operationId: DeleteAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an Aggregate Interface
      tags:
      - Aggregate Interfaces
    get:
      description: |
        Get an existing Aggregate Interface.
      operationId: GetAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an Aggregate Interface
      tags:
      - Aggregate Interfaces
    put:
      description: |
        Update an existing Aggregate Interface.
      operationId: UpdateAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aggregate-interfaces'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an Aggregate Interface
      tags:
      - Aggregate Interfaces
  /auto-vpn-clusters:
    get:
      description: |
        Retrieve a list of Auto VPN clusters.
      operationId: ListAutoVPNClusters
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoVPNClustersListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List Auto VPN clusters
      tags:
      - Auto VPN Clusters
    post:
      description: |
        Create a new Auto VPN cluster.
      operationId: CreateAutoVPNClusters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto-vpn-clusters'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-clusters'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an Auto VPN cluster
      tags:
      - Auto VPN Clusters
  /auto-vpn-clusters/{id}:
    delete:
      description: |
        Delete an Auto VPN cluster.
      operationId: DeleteAutoVPNClustersByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an Auto VPN cluster
      tags:
      - Auto VPN Clusters
    get:
      description: |
        Get an existing Auto VPN clusters.
      operationId: GetAutoVPNClustersByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-clusters'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an Auto VPN cluster
      tags:
      - Auto VPN Clusters
    put:
      description: |
        Update an existing Auto VPN cluster.
      operationId: UpdateAutoVPNClustersByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto-vpn-clusters'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-clusters'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an Auto VPN cluster
      tags:
      - Auto VPN Clusters
  /auto-vpn-monitor:
    get:
      description: |
        Get the status of the Auto VPN clusters.
      operationId: GetAutoVPNMonitor
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutoVPNMonitor_200_response'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get Auto VPN status
      tags:
      - Auto VPN Monitor
  /auto-vpn-push:
    post:
      description: |
        Push Auto VPN configs.
      operationId: CreateAutoVPNPushConfigs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto-vpn-push-config'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-push-response'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Push Auto VPN configs
      tags:
      - Auto VPN Config Push
  /auto-vpn-settings:
    get:
      description: |
        Retrieve the Auto VPN settings.
      operationId: GetAutoVPNSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-settings'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get Auto VPN settings
      tags:
      - Auto VPN Settings
    put:
      description: |
        Update Auto VPN settings.
      operationId: UpdateAutoVPNSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auto-vpn-settings'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auto-vpn-settings'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update Auto VPN settings
      tags:
      - Auto VPN Settings
  /bgp-address-family-profiles:
    get:
      description: |
        Retrieve a list of BGP address family profiles.
      operationId: ListBGPAddressFamilyProfiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPAddressFamilyProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP address family profiles
      tags:
      - BGP Address Family Profiles
    post:
      description: |
        Create a new BGP address family profile.
      operationId: CreateBGPAddressFamilyProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-address-family-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-address-family-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP address family profile
      tags:
      - BGP Address Family Profiles
  /bgp-address-family-profiles/{id}:
    delete:
      description: |
        Delete a BGP address family profile.
      operationId: DeleteBGPAddressFamilyProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP address family profile
      tags:
      - BGP Address Family Profiles
    get:
      description: |
        Get an existing BGP address family profile.
      operationId: GetBGPAddressFamilyProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-address-family-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP address family profile
      tags:
      - BGP Address Family Profiles
    put:
      description: |
        Update an existing BGP address family profile.
      operationId: UpdateBGPAddressFamilyProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-address-family-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-address-family-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP address family profile
      tags:
      - BGP Address Family Profiles
  /bgp-auth-profiles:
    get:
      description: |
        Retrieve a list of BGP authentication profiles.
      operationId: ListBGPAuthenticationProfiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPAuthenticationProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP authentication profiles
      tags:
      - BGP Authentication Profiles
    post:
      description: |
        Create a new BGP authentication profile.
      operationId: CreateBGPAuthenticationProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-auth-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-auth-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP authentication profile
      tags:
      - BGP Authentication Profiles
  /bgp-auth-profiles/{id}:
    delete:
      description: |
        Delete a BGP authentication profile.
      operationId: DeleteBGPAuthenticationProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP authentication profile
      tags:
      - BGP Authentication Profiles
    get:
      description: |
        Get an existing BGP authentication profile.
      operationId: GetBGPAuthenticationProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-auth-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP authentication profile
      tags:
      - BGP Authentication Profiles
    put:
      description: |
        Update an existing BGP authentication profile.
      operationId: UpdateBGPAuthenticationProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-auth-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-auth-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP authentication profile
      tags:
      - BGP Authentication Profiles
  /bgp-filtering-profiles:
    get:
      description: |
        Retrieve a list of BGP filtering profiles.
      operationId: ListBGPFilteringProfiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPFilteringProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP filtering profiles
      tags:
      - BGP Filtering Profiles
    post:
      description: |
        Create a new BGP filtering profile.
      operationId: CreateBGPFilteringProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-filtering-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-filtering-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP filtering profile
      tags:
      - BGP Filtering Profiles
  /bgp-filtering-profiles/{id}:
    delete:
      description: |
        Delete a BGP filtering profile.
      operationId: DeleteBGPFilteringProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP filtering profile
      tags:
      - BGP Filtering Profiles
    get:
      description: |
        Get an existing BGP filtering profile.
      operationId: GetBGPFilteringProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-filtering-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP filtering profile
      tags:
      - BGP Filtering Profiles
    put:
      description: |
        Update an existing BGP filtering profile.
      operationId: UpdateBGPFilteringProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-filtering-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-filtering-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP filtering profile
      tags:
      - BGP Filtering Profiles
  /bgp-redistribution-profiles:
    get:
      description: |
        Retrieve a list of BGP redistribution profiles.
      operationId: ListBGPRedistributionProfiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPRedistributionProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP redistribution profiles
      tags:
      - BGP Redistribution Profiles
    post:
      description: |
        Create a new BGP redistribution profile.
      operationId: CreateBGPRedistributionProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-redistribution-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-redistribution-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP redistribution profile
      tags:
      - BGP Redistribution Profiles
  /bgp-redistribution-profiles/{id}:
    delete:
      description: |
        Delete a BGP redistribution profile.
      operationId: DeleteBGPRedistributionProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP redistribution profile
      tags:
      - BGP Redistribution Profiles
    get:
      description: |
        Get an existing BGP redistribution profile.
      operationId: GetBGPRedistributionProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-redistribution-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP redistribution profile
      tags:
      - BGP Redistribution Profiles
    put:
      description: |
        Update an existing BGP redistribution profile.
      operationId: UpdateBGPRedistributionProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-redistribution-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-redistribution-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP redistribution profile
      tags:
      - BGP Redistribution Profiles
  /bgp-route-map-redistributions:
    get:
      description: |
        Retrieve a list of BGP route map redistributions.
      operationId: ListBGPRouteMapRedistributions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPRouteMapRedistributionsListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP route map redistributions
      tags:
      - BGP Route Map Redistributions
    post:
      description: |
        Create a new BGP route map redistribution.
      operationId: CreateBGPRouteMapRedistributions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-map-redistributions'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP route map redistribution
      tags:
      - BGP Route Map Redistributions
  /bgp-route-map-redistributions/{id}:
    delete:
      description: |
        Delete a BGP route map redistribution.
      operationId: DeleteBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP route map redistribution
      tags:
      - BGP Route Map Redistributions
    get:
      description: |
        Get an existing BGP route map redistribution.
      operationId: GetBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP route map redistribution
      tags:
      - BGP Route Map Redistributions
    put:
      description: |
        Update an existing BGP route map redistribution.
      operationId: UpdateBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-map-redistributions'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP route map redistribution
      tags:
      - BGP Route Map Redistributions
  /bgp-route-maps:
    get:
      description: |
        Retrieve a list of BGP route maps.
      operationId: ListBGPRouteMaps
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BGPRouteMapsListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List BGP route maps
      tags:
      - BGP Route Maps
    post:
      description: |
        Create a new BGP route map.
      operationId: CreateBGPRouteMaps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-maps'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-maps'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a BGP route map
      tags:
      - BGP Route Maps
  /bgp-route-maps/{id}:
    delete:
      description: |
        Delete a BGP route map.
      operationId: DeleteBGPRouteMapsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a BGP route map
      tags:
      - BGP Route Maps
    get:
      description: |
        Get an existing BGP route map.
      operationId: GetBGPRouteMapsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-maps'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a BGP route map
      tags:
      - BGP Route Maps
    put:
      description: |
        Update an existing BGP route map.
      operationId: UpdateBGPRouteMapsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-maps'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-maps'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a BGP route map
      tags:
      - BGP Route Maps
  /dhcp-interfaces:
    get:
      description: |
        Retrieve a list of DHCP interfaces.
      operationId: ListDHCPInterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DHCPInterfacesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List DHCP interfaces
      tags:
      - DHCP Interfaces
    post:
      description: |
        Create a new DHCP interface.
      operationId: CreateDHCPInterfaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dhcp-interfaces'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dhcp-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a DHCP interface
      tags:
      - DHCP Interfaces
  /dhcp-interfaces/{id}:
    delete:
      description: |
        Delete a DHCP interface.
      operationId: DeleteDHCPInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a DHCP interface
      tags:
      - DHCP Interfaces
    get:
      description: |
        Get an existing DHCP interface.
      operationId: GetDHCPInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dhcp-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a DHCP interface
      tags:
      - DHCP Interfaces
    put:
      description: |
        Update an existing DHCP interface.
      operationId: UpdateDHCPInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dhcp-interfaces'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dhcp-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a DHCP interface
      tags:
      - DHCP Interfaces
  /dns-proxies:
    get:
      description: |
        Retrieve a list of DNS proxies.
      operationId: ListDNSProxies
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSProxiesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List DNS proxies
      tags:
      - DNS Proxies
    post:
      description: |
        Create a new DNS proxy.
      operationId: CreateDNSProxies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-proxies'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-proxies'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a DNS proxy
      tags:
      - DNS Proxies
  /dns-proxies/{id}:
    delete:
      description: |
        Delete a DNS proxy.
      operationId: DeleteDNSProxiesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a DNS proxy
      tags:
      - DNS Proxies
    get:
      description: |
        Get an existing DNS proxy.
      operationId: GetDNSProxiesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-proxies'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a DNS proxy
      tags:
      - DNS Proxies
    put:
      description: |
        Update an existing DNS proxy.
      operationId: UpdateDNSProxiesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dns-proxies'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dns-proxies'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a DNS proxy
      tags:
      - DNS Proxies
  /ethernet-interfaces:
    get:
      description: |
        Retrieve a list of ethernet interfaces.
      operationId: ListEthernetInterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthernetInterfacesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List ethernet interfaces
      tags:
      - Ethernet Interfaces
    post:
      description: |
        Create a new ethernet interface.
      operationId: CreateEthernetInterfaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ethernet-interfaces'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ethernet-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an ethernet interface
      tags:
      - Ethernet Interfaces
  /ethernet-interfaces/{id}:
    delete:
      description: |
        Delete an ethernet interface.
      operationId: DeleteEthernetInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an ethernet interface
      tags:
      - Ethernet Interfaces
    get:
      description: |
        Get an existing ethernet interface.
      operationId: GetEthernetInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ethernet-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an ethernet interface
      tags:
      - Ethernet Interfaces
    put:
      description: |
        Update an existing ethernet interface.
      operationId: UpdateEthernetInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ethernet-interfaces'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ethernet-interfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an ethernet interface
      tags:
      - Ethernet Interfaces
  /ike-crypto-profiles:
    get:
      description: |
        Retrieve a list of IKE crypto profiles.
      operationId: ListIKECryptoProfiles
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IKECryptoProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List IKE crypto profiles
      tags:
      - IKE Crypto Profiles
    post:
      description: |
        Create a new IKE crypto profile.
      operationId: CreateIKECryptoProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-crypto-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an IKE crypto profile
      tags:
      - IKE Crypto Profiles
  /ike-crypto-profiles/{id}:
    delete:
      description: |
        Delete an IKE crypto profile.
      operationId: DeleteIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an IKE crypto profile
      tags:
      - IKE Crypto Profiles
    get:
      description: |
        Get an existing IKE crypto profile.
      operationId: GetIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an IKE crypto profile
      tags:
      - IKE Crypto Profiles
    put:
      description: |
        Update an existing IKE crypto profile.
      operationId: UpdateIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-crypto-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an IKE crypto profile
      tags:
      - IKE Crypto Profiles
  /ike-gateways:
    get:
      description: |
        Retrieve a list of IKE gateways.
      operationId: ListIKEGateways
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IKEGatewaysListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List IKE gateways
      tags:
      - IKE Gateways
    post:
      description: |
        Create a new IKE gateway.
      operationId: CreateIKEGateways
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-gateways'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-gateways'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an IKE gateway
      tags:
      - IKE Gateways
  /ike-gateways/{id}:
    delete:
      description: |
        Delete an IKE gateway.
      operationId: DeleteIKEGatewaysByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an IKE gateway
      tags:
      - IKE Gateways
    get:
      description: |
        Get an existing IKE gateway.
      operationId: GetIKEGatewaysByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-gateways'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an IKE gateway
      tags:
      - IKE Gateways
    put:
      description: |
        Update an IKE gateway.
      operationId: UpdateIKEGatewaysByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-gateways'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-gateways'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an IKE gateway
      tags:
      - IKE Gateways
  /interface-management-profiles:
    get:
      description: |
        Retrieve a list of interface management profiles.
      operationId: ListInterfaceManagementProfiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceManagementProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List interface management profiles
      tags:
      - Interface Management Profiles
    post:
      description: |
        Create a new interface management profile.
      operationId: CreateInterfaceManagementProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interface-management-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interface-management-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a interface management profiles
      tags:
      - Interface Management Profiles
  /interface-management-profiles/{id}:
    delete:
      description: |
        Delete an interface management profile.
      operationId: DeleteInterfaceManagementProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an interface management profile
      tags:
      - Interface Management Profiles
    get:
      description: |
        Get an existing interface management profile.
      operationId: GetInterfaceManagementProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interface-management-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an interface management profile
      tags:
      - Interface Management Profiles
    put:
      description: |
        Update an existing interface management profile.
      operationId: UpdateInterfaceManagementProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interface-management-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interface-management-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an interface management profile
      tags:
      - Interface Management Profiles
  /ipsec-crypto-profiles:
    get:
      description: |
        Retrieve a list of IPsec crypto profiles.
      operationId: ListIPsecCryptoProfiles
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPsecCryptoProfilesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List IPsec crypto profiles
      tags:
      - IPsec Crypto Profiles
    post:
      description: |
        Create a new IPsec crypto profile.
      operationId: CreateIPsecCryptoProfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-crypto-profiles'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an IPsec crypto profile
      tags:
      - IPsec Crypto Profiles
  /ipsec-crypto-profiles/{id}:
    delete:
      description: |
        Delete an IPsec crypto profile.
      operationId: DeleteIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an IPsec crypto profile
      tags:
      - IPsec Crypto Profiles
    get:
      description: |
        Get an existing IPsec crypto profile.
      operationId: GetIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an IPsec crypto profile
      tags:
      - IPsec Crypto Profiles
    put:
      description: |
        Update an IPsec crypto profile.
      operationId: UpdateIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-crypto-profiles'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an IPsec crypto profile
      tags:
      - IPsec Crypto Profiles
  /ipsec-tunnels:
    get:
      description: |
        Retrieve a list of IPsec tunnels.
      operationId: ListIPsecTunnels
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPsecTunnelsListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List IPsec tunnels
      tags:
      - IPsec Tunnels
    post:
      description: |
        Create a new IPsec tunnel.
      operationId: CreateIPsecTunnels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-tunnels'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-tunnels'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create an IPsec tunnel
      tags:
      - IPsec Tunnels
  /ipsec-tunnels/{id}:
    delete:
      description: |
        Delete an IPsec tunnel.
      operationId: DeleteIPsecTunnelsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete an IPsec tunnel
      tags:
      - IPsec Tunnels
    get:
      description: |
        Get an existing IPsec tunnel.
      operationId: GetIPsecTunnelsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-tunnels'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get an IPsec tunnel
      tags:
      - IPsec Tunnels
    put:
      description: |
        Update an existing IPsec tunnel.
      operationId: UpdateIPsecTunnelsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-tunnels'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-tunnels'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update an IPsec tunnel
      tags:
      - IPsec Tunnels
  /layer2-subinterfaces:
    get:
      description: |
        Retrieve a list of layer 2 subinterfaces.
      operationId: ListLayer2Subinterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer2SubinterfacesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List layer 2 subinterfaces
      tags:
      - Layer 2 Subinterfaces
    post:
      description: |
        Create a new layer 2 subinterface.
      operationId: CreateLayer2Subinterfaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/layer2-subinterfaces'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer2-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a layer 2 subinterface
      tags:
      - Layer 2 Subinterfaces
  /layer2-subinterfaces/{id}:
    delete:
      description: |
        Delete a layer 2 subinterface.
      operationId: DeleteLayer2SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a layer 2 subinterface
      tags:
      - Layer 2 Subinterfaces
    get:
      description: |
        Get an existing layer 2 subinterface.
      operationId: GetLayer2SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer2-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a layer 2 subinterface
      tags:
      - Layer 2 Subinterfaces
    put:
      description: |
        Update an existing layer 2 subinterface.
      operationId: UpdateLayer2SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/layer2-subinterfaces'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer2-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a layer 2 subinterface
      tags:
      - Layer 2 Subinterfaces
  /layer3-subinterfaces:
    get:
      description: |
        Retrieve a list of layer 3 subinterfaces.
      operationId: ListLayer3Subinterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer3SubinterfacesListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List layer 3 subinterfaces
      tags:
      - Layer 3 Subinterfaces
    post:
      description: |
        Create a new layer 3 subinterface.
      operationId: CreateLayer3Subinterfaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/layer3-subinterfaces'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer3-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a layer 3 subinterface
      tags:
      - Layer 3 Subinterfaces
  /layer3-subinterfaces/{id}:
    delete:
      description: |
        Delete a layer 3 subinterface.
      operationId: DeleteLayer3SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a layer 3 subinterface
      tags:
      - Layer 3 Subinterfaces
    get:
      description: |
        Get an existing layer 3 subinterface.
      operationId: GetLayer3SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer3-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a layer 3 subinterface
      tags:
      - Layer 3 Subinterfaces
    put:
      description: |
        Update an existing layer 3 subinterface.
      operationId: UpdateLayer3SubinterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/layer3-subinterfaces'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layer3-subinterfaces'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a layer 3 subinterface
      tags:
      - Layer 3 Subinterfaces
  /link-tags:
    get:
      description: |
        Retrieve a list of link tags.
      operationId: ListLinkTags
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTagsListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List link tags
      tags:
      - Link Tags
    post:
      description: |
        Create a new link tag.
      operationId: CreateLinkTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/link-tags'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link-tags'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a link tag
      tags:
      - Link Tags
  /link-tags/{id}:
    delete:
      description: |
        Delete a link tag.
      operationId: DeleteLinkTagsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a link tag
      tags:
      - Link Tags
    get:
      description: |
        Get an existing link tag.
      operationId: GetLinkTagsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link-tags'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Get a link tag
      tags:
      - Link Tags
    put:
      description: |
        Update an existing link tag.
      operationId: UpdateLinkTagsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/link-tags'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link-tags'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Update a link tag
      tags:
      - Link Tags
  /logical-routers:
    get:
      description: |
        Retrieve a list of logical routers.
      operationId: ListLogicalRouters
      parameters:
      - $ref: '#/components/parameters/pagination-optional'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicalRoutersListResponse'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      summary: List logical routers
      tags:
      - Logical Routers
    post:
      description: |
        Create a new logical router.
      operationId: CreateLogicalRouters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logical-routers'
        description: Created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
          description: OK
        "400":
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Create a logical router
      tags:
      - Logical Routers
  /logical-routers/{id}:
    delete:
      description: |
        Delete a logical router.
      operationId: DeleteLogicalRoutersByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          $ref: '#/components/responses/http_ok'
        "400":
          $ref: '#/components/responses/bad_request_errors_basic'
        "401":
          $ref: '#/components/responses/auth_errors'
        "403":
          $ref: '#/components/responses/access_errors'
        "404":
          $ref: '#/components/responses/not_found'
        "409":
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      summary: Delete a logical router
      tags:
      - Logical Routers
    get:
      description: |
        Get an existing logical router.
      operationId: GetLogicalRoutersByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
          description: OK
        "400":
[...]
