/*
ZTNA Connector Restful API

ZTNA Connector Restful API Specification

API version: v2
Contact: support@paloaltonetworks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ztna_connector_all

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DiscoveredApplicationAPIService DiscoveredApplicationAPI service
type DiscoveredApplicationAPIService service

type ApiListDiscoveredApplicationFiltersRequest struct {
	ctx         context.Context
	ApiService  *DiscoveredApplicationAPIService
	xPanwRegion *string
	field       *string
	search      *string
}

// The region of the tenant
func (r ApiListDiscoveredApplicationFiltersRequest) XPanwRegion(xPanwRegion string) ApiListDiscoveredApplicationFiltersRequest {
	r.xPanwRegion = &xPanwRegion
	return r
}

// String that represents a static filter field. Call any of the /filters endpoints without specifying a field to get a list of all available fields.
func (r ApiListDiscoveredApplicationFiltersRequest) Field(field string) ApiListDiscoveredApplicationFiltersRequest {
	r.field = &field
	return r
}

// String to filter list results by. Is searched over multiple fields in each object. Multiple searches can be specified.
func (r ApiListDiscoveredApplicationFiltersRequest) Search(search string) ApiListDiscoveredApplicationFiltersRequest {
	r.search = &search
	return r
}

func (r ApiListDiscoveredApplicationFiltersRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.ListDiscoveredApplicationFiltersExecute(r)
}

/*
ListDiscoveredApplicationFilters List Discovered Application Filters

Get filter values for discovered application fields.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListDiscoveredApplicationFiltersRequest
*/
func (a *DiscoveredApplicationAPIService) ListDiscoveredApplicationFilters(ctx context.Context) ApiListDiscoveredApplicationFiltersRequest {
	return ApiListDiscoveredApplicationFiltersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []string
func (a *DiscoveredApplicationAPIService) ListDiscoveredApplicationFiltersExecute(r ApiListDiscoveredApplicationFiltersRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveredApplicationAPIService.ListDiscoveredApplicationFilters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/discovered-applications/filters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.field != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "field", r.field, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPanwRegion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-panw-region", r.xPanwRegion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDiscoveredApplicationsRequest struct {
	ctx         context.Context
	ApiService  *DiscoveredApplicationAPIService
	xPanwRegion *string
	offset      *int32
	limit       *int32
	sort        *string
	search      *string
	filters     *string
}

// The region of the tenant
func (r ApiListDiscoveredApplicationsRequest) XPanwRegion(xPanwRegion string) ApiListDiscoveredApplicationsRequest {
	r.xPanwRegion = &xPanwRegion
	return r
}

// A 0-based offset into the collection. It is the index of the starting entry of the page
func (r ApiListDiscoveredApplicationsRequest) Offset(offset int32) ApiListDiscoveredApplicationsRequest {
	r.offset = &offset
	return r
}

// The max count in result entry (count per page)
func (r ApiListDiscoveredApplicationsRequest) Limit(limit int32) ApiListDiscoveredApplicationsRequest {
	r.limit = &limit
	return r
}

// List of fields from item response to sort by.
func (r ApiListDiscoveredApplicationsRequest) Sort(sort string) ApiListDiscoveredApplicationsRequest {
	r.sort = &sort
	return r
}

// String to filter list results by. Is searched over multiple fields in each object. Multiple searches can be specified.
func (r ApiListDiscoveredApplicationsRequest) Search(search string) ApiListDiscoveredApplicationsRequest {
	r.search = &search
	return r
}

// String to filter list results by searching one specified field of an object. Multiple filters can be specified.
func (r ApiListDiscoveredApplicationsRequest) Filters(filters string) ApiListDiscoveredApplicationsRequest {
	r.filters = &filters
	return r
}

func (r ApiListDiscoveredApplicationsRequest) Execute() (*DiscoveredApplicationsListResponse, *http.Response, error) {
	return r.ApiService.ListDiscoveredApplicationsExecute(r)
}

/*
ListDiscoveredApplications List Discovered Applications

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListDiscoveredApplicationsRequest
*/
func (a *DiscoveredApplicationAPIService) ListDiscoveredApplications(ctx context.Context) ApiListDiscoveredApplicationsRequest {
	return ApiListDiscoveredApplicationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiscoveredApplicationsListResponse
func (a *DiscoveredApplicationAPIService) ListDiscoveredApplicationsExecute(r ApiListDiscoveredApplicationsRequest) (*DiscoveredApplicationsListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiscoveredApplicationsListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DiscoveredApplicationAPIService.ListDiscoveredApplications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/discovered-applications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xPanwRegion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-panw-region", r.xPanwRegion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
