openapi: 3.0.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used to define how Strata Cloud Manager configurations
    are implemented.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Configuration Setup
  version: 2.0.0
servers:
- description: Current
  url: https://api.strata.paloaltonetworks.com/config/setup/v1
security:
- scmToken: []
tags:
- description: NGFW devices
  name: Devices
- description: Configuration folders
  name: Folders
- description: Configuration labels
  name: Labels
- description: Configuration snippets
  name: Snippets
- description: Configuration variables
  name: Variables
- description: Configuration snippets and category information
  name: Snippet Categories
- description: Overview of published and subscribed tenants
  name: Trusted Tenants Overview
- description: Trust Information with shared snippets
  name: Trust Information
- description: Trusts between tenants
  name: Trusts
- description: Validates trust information
  name: Trust Validations
- description: Subscribed Tenants information
  name: Subscribed Tenants
- description: Snippet Snapshots
  name: Snippet Snapshots
- description: Shared Snippets
  name: Shared Snippets
- description: Snippet Audit Logs
  name: Snippet Audit Logs
paths:
  /folders:
    get:
      description: |
        Retrieve a list of folders.
      operationId: ListFolders
      parameters:
      - description: The maximum number of resources to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The offset into the list of resources returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: The name of the resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoldersListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List folders
      tags:
      - Folders
    post:
      description: |
        Create a new folder.
      operationId: CreateFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folders'
        description: The `folder` resource definition
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folders'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create a folder
      tags:
      - Folders
  /folders/{id}:
    delete:
      description: |
        Delete an existing folder.
      operationId: DeleteFolderByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete a folder
      tags:
      - Folders
    get:
      description: |
        Retrieve an existing folder.
      operationId: GetFolderByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folders'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get a folder
      tags:
      - Folders
    put:
      description: |
        Update an existing folder.
      operationId: UpdateFolderByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/folders'
        description: The `folder` resource definition.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folders'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update a folder
      tags:
      - Folders
  /labels:
    get:
      description: |
        Retrieve a list of labels.
      operationId: ListLabels
      parameters:
      - description: The maximum number of resources to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The offset into the list of resources returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: The name of the resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelsListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List labels
      tags:
      - Labels
    post:
      description: |
        Create a new label.
      operationId: CreateLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labels'
        description: The `label` resource definition.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/labels'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create a label
      tags:
      - Labels
  /labels/{id}:
    delete:
      description: |
        Delete an existing label.
      operationId: DeleteLabelByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete a label
      tags:
      - Labels
    get:
      description: |
        Retrieve an existing label.
      operationId: GetLabelByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/labels'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get a label
      tags:
      - Labels
    put:
      description: |
        Update an existing label.
      operationId: UpdateLabelByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labels'
        description: The `label` resource definition.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/labels'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update a label
      tags:
      - Labels
  /shared-snippets:
    get:
      description: |
        Retrieve a list of shared snippets.
      operationId: ListSharedSnippets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/snippet_share_info'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get Shared Snippets
      tags:
      - Shared Snippets
    put:
      description: |
        Update Shared Snippets.
      operationId: ConvertSharedSnippets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_share_upload_payload'
        description: The `Shared Snippets To Update` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_share_info'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Update Shared Snippets
      tags:
      - Shared Snippets
  /shared-snippets:load:
    post:
      description: |
        Convert Snippet Snippets.
      operationId: LoadSharedSnippets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_share_load_payload'
        description: The `Snippet Snapshots To Convert` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_share_load_payload'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Load Shared Snippets
      tags:
      - Shared Snippets
  /snippet-audit-logs:
    post:
      description: |
        Create snippet audit logs configuration.
      operationId: CreateSnippetAuditLogs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_audit_payload'
        description: The `Snippet Snapshots To Convert` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_audit_history'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Create snippet audit logs configuration
      tags:
      - Snippet Audit Logs
  /snippet-audit-logs/{id}:
    get:
      description: |
        Retrieve an existing snippet audit logs by UUID.
      operationId: GetSnippetAuditLogsByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Specifies the type of the tenant that is trusted, either 'subscriber' or 'publisher'.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - subscriber
          - publisher
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_audit_history'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get a snippet audit logs
      tags:
      - Snippet Audit Logs
  /snippet-categories:
    get:
      description: |
        Retrieve a list of snippet categories.
      operationId: ListSnippetCategories
      parameters:
      - description: The maximum number of resources to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The offset into the list of resources returned
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: The name of the resource
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetCategoriesListResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: List snippets categories
      tags:
      - Snippet Categories
  /snippet-categories/{id}:
    delete:
      description: |
        Delete an existing snippet category.
      operationId: DeleteSnippetCategoryByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Delete a snippet category
      tags:
      - Snippet Categories
    get:
      description: |
        Retrieve an existing snippet category.
      operationId: GetSnippetCategoryByID
      parameters:
      - description: The UUID of the resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_categories'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                object_not_present:
                  $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Not Found
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Get a snippet category
      tags:
      - Snippet Categories
  /snippet-snapshots:
    post:
      description: |
        Save Snippet Snapshots.
      operationId: SaveSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/save_snippet_snapshot_payload'
        description: The `Save Snippet Snapshots` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/save_snippet_snapshot_config_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Save Snippet Snapshots
      tags:
      - Snippet Snapshots
  /snippet-snapshots:compare:
    post:
      description: |
        Compare Snippet Snapshots.
      operationId: CompareSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compare_snippet_snapshot_config_payload'
        description: The `Snippet Snapshots To Compare` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_snapshot_compare_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Compare Snippet Snapshots
      tags:
      - Snippet Snapshots
  /snippet-snapshots:convert:
    post:
      description: |
        Convert Snippet Snapshots.
      operationId: ConvertSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/common_snippet_snapshot_payload'
        description: The `Snippet Snapshots To Convert` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dynamic_entry'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Convert Snippet Snapshots
      tags:
      - Snippet Snapshots
  /snippet-snapshots:diff:
    post:
      description: |
        Diff Snippet Snapshots.
      operationId: DiffSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compare_tlo_payload'
        description: The `Snippet Snapshots To Differentiate` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_snapshot_diff_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Diff Snippet Snapshots
      tags:
      - Snippet Snapshots
  /snippet-snapshots:load:
    post:
      description: |
        Load Snippet Snapshots.
      operationId: LoadSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_snapshot_load_snippet_payload'
        description: The `Snippet Snapshots To Load` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_snapshot_load_snippet_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
                invalid_object:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
                invalid_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
                missing_body:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_body'
                missing_query_parameter:
                  $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
                output_format_mismatch:
                  $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                auth_not_authenticated:
                  $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
                invalid_credential:
                  $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
                key_expired:
                  $ref: '#/components/examples/json_401_panui_auth_key_expired'
                key_too_long:
                  $ref: '#/components/examples/json_401_panui_auth_key_too_long'
                need_password_change:
                  $ref: '#/components/examples/json_401_panui_auth_need_password_change'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                auth_unauthorized:
                  $ref: '#/components/examples/json_403_panui_auth_unauthorized'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Forbidden
        "409":
          content:
            application/json:
              examples:
                name_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
                object_not_unique:
                  $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
                reference_not_zero:
                  $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: Conflict
        default:
          content:
            application/json:
              examples:
                action_not_supported:
                  $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
                bad_xpath:
                  $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
                invalid_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
                malformed_command:
                  $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
                method_not_allowed:
                  $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
                session_timeout:
                  $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
                version_not_supported:
                  $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
              schema:
                $ref: '#/components/schemas/generic_error'
          description: General Errors
      summary: Load Snippet Snapshots
      tags:
      - Snippet Snapshots
  /snippet-snapshots:publish:
    post:
      description: |
        Publish Snippet Snapshots.
      operationId: PublishSnippetSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet_snapshot_publish_request'
        description: The `Snippet Snapshots To Publish` resource definition
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet_snapshot_publish_response'
          description: OK
        "400":
          content:
            application/json:
              examples:
                input_format_mismatch:
[...]
